{% extends 'base/main.html' %}
{% block title %}Eliminar tarea{% endblock %}

{% block content %}

<h1 class="display-2 fw-bold text-center mt-4" style="color: #708D81;">ELIMINAR TAREA</h1>

<div class="container-fluid d-flex justify-content-center mt-5">
    <form method="POST">
        {% csrf_token %}
        <h4 class="fw-bold" style="color: #F4D58D;">¿Quieres eliminar la tarea? "{{task}}"</h4>
        <span class="d-flex justify-content-center mt-3 pt-3">
            <input class="btn btn-danger btn-lg fw-bold mx-4" type="submit" value="Confirmar"/>
            <button type ="button" class="btn btn-dark btn-lg fw-bold" onclick="window.history.go(-1);" >Regresar</button>
        </span>
    </form>
</div>

{% include 'base/includes/footer.html' %}


{% endblock %}

