{% extends 'base/main.html' %}
{% block title %}Task Center{% endblock %}

{% block content %}

<div class="container-fluid mt-4">

    <h1 class="display-2 fw-bold text-center">LISTA DE TAREAS</h1>
    <h5 class="text-center fw-bold">¡Bienvenido, {{request.user| title}}!</h5>


    <div class="row mt-5">
        {% if tasks %}
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card text-center fondo2">
                <div class="card-header fw-bold fondo2">
                    <h4 class="text-dark">Tus últimas cinco tareas:</h4>
                </div>
                <ul class="list-group fondo2">
                    {% for task in guia %}
                    {% if task.complete %}
                    <li class="list-group-item fondo2 fw-bold d-flex justify-content-center">
                        <a href="{% url 'update' task.id %}" style="color: #001427;">
                            {{task.title}}
                            <img class="p-1" src="../../static/base/img/check-circle.svg" class="img-fluid">
                        </a>
                    </li>
                    {% else %}
                    <li class="list-group-item fondo2 fw-bold d-flex justify-content-center">
                        <a href="{% url 'update' task.id %}" style="color: #001427;">
                            {{task.title}}
                            <img class="p-1" src="../../static/base/img/circle.svg" class="img-fluid">
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                   
                <div class="card-footer text-muted fw-bold fondo2">
                  ¡No dejes para mañana lo que puedes hacer hoy!
                </div>
              </div>
            </div>
            
        </div>
        <div class="col-md-4"></div>
        {% else %}
        <h2 class="fw-bold text-center texto" >No se ha encontrado ninguna tarea.</h2>
        <div class="container-fluid d-flex justify-content-center">
            <img src="../../static/base/img/null.jpg" class="img-fluid p-4">
        </div>
        {% endif %}

    </div>

</div>

<div class="d-flex justify-content-center mt-5">
    <a class="mx-2" href='{% url "create" %}'><button class="btn btn-lg btn-dark fw-bold">Crear tarea</button></a>
    <a href='{% url "historial" %}'><button class="btn btn-lg btn-dark fw-bold">Historial de tareas</button></a>
</div>

{% include 'base/includes/footer.html' %}

{% endblock %}
